.container {
    grid-template-rows: 170px 170px 160px 1fr;
}

/*
    HEADER
*/

.header_text {
    font-size: 100px;
}

.header_text span {
    font-size: 30px;
}

.header_text img {
    height: 50px;
}

/*
    CENTER
*/

.center {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 5;

    width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 200px 1fr; 
}

/*
    MENU
*/

.menu_slider {
    display: none;
}

.menu_slider_content {
    display: none;
}


nav {
    grid-column: 1/2;
}

/*
    TABLES
*/

.tablerow {
    grid-column: 1/13
}